In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"

In [3]:
df = pd.read_csv(url, error_bad_lines=False)

In [11]:
df_new = df.loc[(df["location"] == 'India') | (df["location"] == 'Zimbabwe')]

In [12]:
df_new

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
64851,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.550,0.53,69.66,0.645,NaN,NaN,NaN,NaN
64852,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.550,0.53,69.66,0.645,NaN,NaN,NaN,NaN
64853,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.550,0.53,69.66,0.645,NaN,NaN,NaN,NaN
64854,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.550,0.53,69.66,0.645,NaN,NaN,NaN,NaN
64855,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.550,0.53,69.66,0.645,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154556,ZWE,Africa,Zimbabwe,2022-01-10,223000.0,1082.0,987.571,5180.0,32.0,19.000,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN
154557,ZWE,Africa,Zimbabwe,2022-01-11,223000.0,0.0,760.286,5180.0,0.0,14.571,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN
154558,ZWE,Africa,Zimbabwe,2022-01-12,224433.0,1433.0,768.000,5215.0,35.0,17.571,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN
154559,ZWE,Africa,Zimbabwe,2022-01-13,225084.0,651.0,700.857,5222.0,7.0,16.286,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN
154560,ZWE,Africa,Zimbabwe,2022-01-14,225637.0,553.0,622.143,5238.0,16.0,14.571,...,1.6,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN

In [13]:
df_new.to_csv('filtered_data')